{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="row product-detail-row mt-4 mb-5">
        <div class="col-5">
            <img
                    src="{{product.image.url}}"
                    class="img-fluid"
                    height=""
            >
        </div>
        <div class="col-7">
            <div class="jumbotron">
                <h1 class="display-4">{{ product.name }}</h1>
                <div class="price-container">
                    {% if product.has_discount %}
                        <h5 class="card-title">
                            <s>{{ product.price }} MXN</s>
                        </h5>
                        <h5 class="card-title">
                            {{ product.final_price }} MXN
                        </h5>
                        <span class="discount-badge">-{{ product.discount }}%</span>
                    {% else %}
                        <h5 class="card-title">
                            {{ product.price }} MXN
                        </h5>
                    {% endif %}
                </div>
                <hr class="my-4">
                <p>
                    {{ product.description | safe}}
                </p>

                <a class="btn btn-tomato" href="/">Añadir al carrito</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}